@import 'tailwindcss';

@theme {
  --font-family-sans: Pretendard, sans-serif;

  --color-primary-navy1: #e8f3ff;
  --color-primary-navy2: #bbd8ff;
  --color-primary-navy3: #4287d6;
  --color-primary-navy4: #004798;
  --color-primary-navy5: #01326b;
  --color-primary-navy6: #002652;
  --color-primary-navy7: #00152e;

  --color-secondary-purple1: #f0effa;
  --color-secondary-purple2: #e2e0fb;
  --color-secondary-purple3: #b3b0f9;
  --color-secondary-purple4: #7d76fa;
  --color-secondary-purple5: #403ac0;
  --color-secondary-purple6: #161184;
  --color-secondary-purple7: #16135b;

  --color-layout-white: #f9f9f9;
  --color-layout-grey1: #f2f2f2;
  --color-layout-grey2: #e6e6e6;
  --color-layout-grey3: #c1c1c1;
  --color-layout-grey4: #a2a2a2;
  --color-layout-grey5: #747474;
  --color-layout-grey6: #454545;
  --color-layout-grey7: #171717;

  --color-point-pink1: #ffd6d9;
  --color-point-pink2: #fda8a1;
  --color-point-pink3: #ff6771;

  --color-correction-green1: #afe7c9;
  --color-correction-green2: #3bc87d;
  --color-correction-green3: #28b856;
}

@layer utilities {
  /* 제목 스타일 */
  .title-lg {
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    letter-spacing: 0.01em; /* 1% */
  }

  .title-md {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.01em; /* 1% */
  }

  .title-sm {
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0; /* 0% */
  }

  /* 본문 스타일 - 레귤러 */
  .body-lg {
    font-size: 19px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: -0.01em; /* -1% */
  }

  .body-md {
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.01em; /* -1% */
  }

  .body-sm {
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: -0.01em; /* -1% */
  }

  /* 본문 스타일 - 세미볼드 */
  .body-lgst {
    font-size: 19px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.01em; /* -1% */
  }

  .body-mst {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.01em; /* -1% */
  }

  .body-sst {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.01em; /* -1% */
  }

  /* 디테일 스타일 */
  .detail {
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0; /* 0% */
  }

  /* 버튼 스타일 */
  .button-lg {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.01em; /* 1% */
  }

  .button-md {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em; /* 1% */
  }

  .button-sm {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.01em; /* 1% */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Pretendard, sans-serif;
  @apply antialiased;
  background: var(--background);
  color: var(--foreground);
}
